name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Run tests
      run: cargo test --verbose
    - name: Build
      run: cargo build --verbose /'/home/runner/actions-runner/cached/_diag/pages/455780e2-63aa-41f0-9f77-1582e2d03461_44eb5013-85e5-47ff-ac52-8528fc3e999b_1.log'/1++../
    
